.container {
    max-width: 1190px;
    margin: 0 auto;
    padding: 0 10px;
}
.contacts {
    background-color: burlywood;
}
.contacts__map {
    position: relative;
    min-width: 570px;
    min-height: 423px;

    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius:8px;

}

.contacts__title {
    margin-bottom: 50px;
}
iframe {
    position: absolute;
    top: 0;
    min-width: 570px;
    min-height: 423px;

    width: 100%;
    height: 100%;
}
.contacts__item {
    width: 270px;
    height: 150px;

    background:#fff;
    border: 1px solid red;
    border-radius: 8px;

    margin-bottom: 30px;
    padding: 20px;
}

h4 {
    display: inline;
}

.test {
    background: rgb(223, 198, 198);
}
.proba h1 {
    color: blueviolet;
    text-align: center;
    margin: 50px 0;
    text-transform: uppercase;
    font-size: 48px;
}
.proba__block {
    width: 300px;
    height: 300px;
    background-color: rgb(51, 207, 59);
    border: 3px solid rgb(165, 42, 58);
    margin: 50px auto;
}